<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Program Builder</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="/">Program Builder</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <%= if logged_in?(@conn) do %>
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                          </li>
                          <li class="nav-item">
                              <%= link "Meeting Listing", to: Routes.meeting_path(ProgramBuilderWeb.Endpoint, :index), class: "nav-link" %>
                          </li>
                          <li class="nav-item">
                              <%= link "Member Listing", to: Routes.member_path(ProgramBuilderWeb.Endpoint, :index), class: "nav-link" %>
                          </li>
                      </ul>
                  <% end %>

                  <ul class="navbar-nav ml-auto">
                      <%= if logged_in?(@conn) do %>
                          <li class="nav-item">
                              <span class="navbar-text">
                                  <%= username(@conn) %>
                              </span>
                          </li>
                          <li class="nav-item navbar-text">&nbsp;|</li>
                      <% end %>
                      <li class="nav-item">
                          <%= login_or_logout_link(@conn) %>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>

      
    <main role="main" class="container py-5">
        <div class="row justify-content-center">
            <p class="col col-md-6 alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="col col-lg-4 alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://unpkg.com/feather-icons"></script>
  </body>
</html>
