<section class="phx-hero">
  <h1>Program Builder</h1>
</section>

<section class="row">
  <article class="column">
    <a href="/new-meeting">Create a new meeting</a>
  </article>
  <article class="column">
  </article>
</section>
