<section class="phx-hero">
  <h1>Program Builder</h1>
</section>

<section class="row">
  <article class="column">
    <a href="/login" class="btn btn-outline-primary">Login</a>
  </article>
  <article class="column">
  </article>
</section>
