.alert:empty {
  display: none;
}

.help-block {
    color: red;
}

.note-block {
    color: #2a4;
}

.music-line {
    color: #24c;
}

.prayer-line {
    color: #c50;
}

.talk-line {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #eee;
    }
    .music-line {
        color: #07f;
    }
    .prayer-line {
        color: #e50;
    }
    .talk-line {
        color: #fff;
    }
    .navbar {
        background-color: #222;
    }
    .navbar-brand {
        color: #ccc;
    }
    .nav-link {
        color: #ccc;
    }
    .nav-link:hover {
        color: #fff;
    }
    input[type=text], input[type=number], input[type=date] {
        background-color: #222;
        border-color: #777;
        color: #ddd;
    }
    input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
        background-color: #252525;
        color: #eee;
    }

    th {
        color: #ddd;
    }
    td {
        color: #eee;
    }
}
